header {
    font-display: right;
    text-decoration-line: line-through;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif
}


body{
    
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 2em;
}
div {
font-family:'Courier New', Courier, monospace;
font-size: 25px;
}


a{
    
    font-size: 30px;
}

body{
    font-size: 34px;
}

main {
text-align:inherit
}



